# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST
sdist/
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
semgrep.db

# Environments
.env
.venv
env/
venv/

# Type checkers
.mypy_cache/
.dmypy.json
.pytype/
.pyre/

# Project-specific
*vendor/
*composer.lock
results/
results/**/*
log.txt
temp_repo
VERSION
tests/node_modules
tests/dependencies.json
tests/package-lock.json

# Editors
.vscode
.idea/
*.sln
.claude