azure-identity
azure-mgmt-compute
azure-mgmt-monitor
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-storage
azure-monitor-query
boto3
coverage>=7.2.7
defusedxml
flake8
flake8-pytest-style
google-cloud-compute>=1.14.0
google-cloud-storage>=2.10.0
google-cloud-monitoring>=2.15.1
httpx[http2]
johnnydep
modernmetric>=1.0.2
pandas
protobuf
pygount==1.6.1
pytest
pytest-cov
pyyaml
semgrep
