azure-identity~=1.19.0
azure-mgmt-compute~=33.1.0
azure-mgmt-monitor~=6.0.2
azure-mgmt-network~=28.0.0
azure-mgmt-resource~=23.2.0
azure-mgmt-storage~=21.2.1
azure-monitor-query~=1.4.0
boto3~=1.35.85
coverage~=7.6.9
defusedxml~=0.7.1
flake8~=7.1.1
flake8-pytest-style~=2.0.0
gemfileparser~=0.8.0
google-cloud-compute>=1.14.0
google-cloud-storage>=2.10.0
google-cloud-monitoring>=2.15.0
httpx[http2]~=0.28.1
Jinja2==3.1.5
johnnydep~=1.20.6
modernmetric>=1.5.2
pygments-tsx>=1.0.1
pytest~=8.3.4
pytest-cov~=6.0.0
pytest-xdist~=3.6.1
pyyaml~=6.0.2
semgrep~=1.102.0
windows-curses~=2.4.0; sys.platform == 'win32'
