azure-identity~=1.14.1
azure-mgmt-compute~=30.3.0
azure-mgmt-monitor~=6.0.2
azure-mgmt-network~=25.1.0
azure-mgmt-resource~=23.0.1
azure-mgmt-storage~=21.1.0
azure-monitor-query~=1.2.0
boto3~=1.28.62
coverage~=7.3.2
defusedxml~=0.7.1
flake8~=6.1.0
flake8-pytest-style~=1.7.2
google-cloud-compute>=1.14.0
google-cloud-storage>=2.10.0
google-cloud-monitoring>=2.15.1
httpx[http2]~=0.25.0
johnnydep~=1.20.3
modernmetric>=1.0.2
protobuf~=4.24.4
pygments-tsx>=1.0.1
pytest~=7.4.2
pytest-cov~=4.1.0
pytest-xdist~=3.3.1
pyyaml~=6.0.1
semgrep~=1.43.0
windows-curses~=2.3.1; sys.platform == 'win32'

